### System level settings used for deploying docker images

# timezone settings
TZ=Europe/London

# .specify your proxy settings
#http_proxy=
#https_proxy=
no_proxy=vault,localhost,elasticsearch,tika,postgres

#2.credentials for PostgreSQL instance
POSTGRES_USER=nlp
POSTGRES_PASSWORD=password123

#3.credentials for FTP server
FTP_USER=nlp
FTP_PASS=password123

#4.credentials for ElasticSearch instance
ELASTIC_USER=nlp
ELASTIC_PASSWORD=password123

#5.credentials for Brat
BRAT_USERNAME=brat
BRAT_PASSWORD=brat

### Appication level settings used inside docker containers

# uid: same as POSTGRES_USER set in #2 
# password: same as POSTGRES_PASSWORD set in #2
# Eg: postgres;database=nlp;uid=nlp;password=password123;

ConnectionStrings__VersionCheckConnection=server=postgres;database=nlp;uid=nlp;password=password123;

# same as the credentials set for ElasticSearch in #4

ElasticsearchSettings__SingleNode__ElasticSearchUrl=elasticsearch:9200
ElasticsearchSettings__SingleNode__ElasticSearchUser=nlp
ElasticsearchSettings__SingleNode__ElasticSearchPassword=password123

## credentials for WebDAV server

#WEBDAV_ADDRESS=
#WEBDAV_USER=

# obtain a token from ownCloud
#WEBDAV_PASS=


## Job engine settings

# Job engine worker number
#SystemSettings__WorkerCount=

# Specify HL7 export directory to enable HL7 file export. HL7 files will be stored at /medgate/hl7 by default or any other existing folders under /medgate
#SystemSettings__HL7StorePath=/medgate/hl7

## Ingression settings 

# Batch size for ingression, default:20
#IngressSettings__IngressBatchSize=

# Allowed file types for ingress 
#IngressSettings__ScanFileFilter=pdf,doc,docx

# Handle existing files: skip or overwrite, default:skip
#IngressSettings__HandleExistingFilesOption=skip

# Archive options for ingressed files: none, archive or delete, default:none. If archive selected, files will be archived in dir /medgate/archive
#IngressSettings__IngressArchiveOption=none


## GCP job settings

#GCP job batch size
#GcpRootSettings__JobBatchSize=

#GCP json output handlers: normal or simple, default:normal
#GcpRootSettings__JsonOutputHandler=normal

## Settings for Vault

#VaultGatewaySettings__ServerAddress=


## Settings for MedCentre

#MedCentreSettings__ServerAddress=

## Settings for Kibana

KibanaSettings__ServerAddress=


RedisSettings__Host=redis
