#specify your proxy settings
http_proxy=proxy:8080
https_proxy=proxy:8080

#credentials for PostgreSQL instance
POSTGRES_USER=nlp
POSTGRES_PASSWORD=password123

#credentials for FTP server
FTP_USER=nlp
FTP_PASS=password123

#credentials for WebDAV server
WEBDAV_ADDRESS=https://cumulus.hiru.swan.ac.uk/remote.php/webdav/
WEBDAV_USER=user
#obtain a token from ownCloud
WEBDAV_PASS=password123

#credentials for elasticsearch instance
ELASTIC_PASSWORD=password123
