### System level settings used for deploying docker images

# .specify your proxy settings
http_proxy=proxy:8080
https_proxy=proxy:8080

#2.credentials for PostgreSQL instance
POSTGRES_USER=nlp
POSTGRES_PASSWORD=password123

#3.credentials for FTP server
FTP_USER=nlp
FTP_PASS=password123

#4.credentials for ElasticSearch instance
ELASTIC_USER=nlp
ELASTIC_PASSWORD=password123

### Appication level settings used inside docker containers

# uid: same as POSTGRES_USER set in #2 
# password: same as POSTGRES_PASSWORD set in #2
# Eg: postgres;database=nlp;uid=nlp;password=password123;

ConnectionStrings__VersionCheckConnection=server=postgres;database=nlp;uid=nlp;password=password123;

# same as the credentials set for ElasticSearch in #4

ElasticsearchSettings__SingleNode__ElasticSearchUser=nlp
ElasticsearchSettings__SingleNode__ElasticSearchPassword=password123


## credentials for WebDAV server

WEBDAV_ADDRESS=https://cumulus.hiru.swan.ac.uk/remote.php/webdav/
WEBDAV_USER=nlp

# obtain a token from ownCloud
WEBDAV_PASS=password123


## Options for file ingression 

# Batch size for ingression, default:20
IngressSettings__IngressBatchSize=100

# Handle existing files: skip or overwrite, default:skip
IngressSettings__HandleExistingFilesOption=skip

# Job engine worker number
SystemSettings__WorkerCount=8

# GCP job settings
GcpRootSettings__JobBatchSize=1000

## Settings for Vault

VaultGatewaySettings__ServerAddress=http://192.168.69.5:8200


## Settings for MedCentre

MedCentreSettings__ServerAddress=http://192.168.69.5:3002
